* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: white;
}
/*---------Nav---------*/
nav {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  position: fixed;
}
nav ul {
  float: right;
}
nav li {
  display: inline-block;
  color: white;
  padding: 5px 10px;
  font-size: 20px;
  text-transform: uppercase;
}
nav li a{
  text-decoration: none;
  color: white;
}

/*-------Banner--------*/
.banner {
  display: flex;
  flex-direction: column;
  background-image: url("/Users/kcoulter/Documents/portfolio-website/images/ksenia_banner.gif");
  background-size: cover;
  background-position: center;
  height: 860px;
}
.wrapper {
  margin: auto;
  text-align: center;
  padding: 10px;
}
.wrapper h1 {
  font-size: 100px;
  font-family: 'Lora', serif;
}
.wrapper h2 {
  font-family: 'Slabo 27px', serif;
  font-size: 50px;
  margin: 5px 0 25px 0;
}
.wrapper div {
  display: inline;
}
.button {
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
  color: black;
  margin: 10px;
  padding: 10px 16px;
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: none;
  /*position: relative;*/
}
.button::hover {
  cursor: pointer;
}
.button::before{
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #000;
  font-size: 20px;
  padding-right: 0.5em;
  top: 10px;
  left: 0;
}
.twitter::before {
  content: "\f099";
}
.github::before {
  content: "\f09b";
}
.linkedin::before {
  content: "\f0e1"
}

/*------Portfolio------*/
.portfolio {
  color: #5F5F5F;
  display: table;
  width: 100%;
}
.portfolio img {
  height: 300px;
  width: 300px;
  border-radius: 15px;
}
.portfolio h1 {
  font-size: 50px;
  text-align: center;
}
.project {
  padding: 10px 30px;
  display: table-row;
  width: 100%;
}
.project h2{
  font-size: 45px;
  margin: 5px 0;
  border-top: 3px solid #5F5F5F;
}
.project p {
  font-size: 28px;
}
.col {
  width: 50%;
  display: table-cell;
  vertical-align: top;
  padding: 20px 30px;
}
.project:nth-child(even){
  background-color: #EFEFEF;
}
.project:nth-child(even) img{
  float: right;
}
.col p {
  text-align: left;
}
/*.col img{
  border: 5px solid black;
  margin-left: 50px;
}*/

/*-------Media Queries--------*/
@media (max-width: 580px) {
  div .button {
    display: block;
  }
  nav {
    text-align: center;
  }

  nav ul {
    width: 100%;
  }
}
