* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: white;
}
body p {
  font-family: 'Open Sans', sans-serif;
}
body h1, h2, h3, a {
  font-family: 'Domine', serif;
}
/*---------Nav---------*/
nav {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
}
nav ul {
  float: right;
}
nav li {
  display: inline-block;
  color: white;
  font-size: 20px;
  padding: 10px 10px;
  text-transform: uppercase;
}
nav li a{
  color: white;
  text-decoration: none;
}
#resume::before {
  content: "\f019";
  font-family: FontAwesome;
  font-size: 17px;
  margin-right: 8px;
}

/*-------Banner--------*/
.banner {
  background-image: url("../images/ksenia_banner.gif");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 860px;
}
.wrapper {
  margin: auto;
  padding: 10px;
  text-align: center;
}
.wrapper h1 {
  font-size: 100px;
  font-family: 'Lora', serif;
}
.wrapper h2 {
  font-family: 'Slabo 27px', serif;
  font-size: 50px;
  margin: 5px 0 25px 0;
}
.wrapper div {
  display: inline;
}
.button {
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
  color: #0C0C0C;
  font-size: 18px;
  margin: 10px;
  padding: 10px 16px;
  text-decoration: none;
  text-transform: uppercase;
  /*position: relative;*/
}
.button::before{
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #0C0C0C;
  font-size: 18px;
  padding-right: 0.5em;
}
.twitter::before {
  content: "\f099";
}
.github::before {
  content: "\f09b";
}
.linkedin::before {
  content: "\f0e1"
}

/*------Portfolio------*/
.portfolio {
  color: #5F5F5F;
  display: table;
  width: 100%;
}
.portfolio img {
  height: 300px;
  width: 300px;
  border-radius: 15px;
}
.portfolio h1 {
  color: #ECECEC;
  display: table-caption;
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
  background-color: #0C0C0C;
  padding: 5px;
}
.project {
  padding: 10px 30px;
  display: table-row;
  width: 100%;
}
.project h2{
  font-size: 45px;
  margin: 5px 0;
  border-top: 3px solid #5F5F5F;
}
.project h3 {
  padding-top: 30px;
  font-size: 30px;
}
.project p {
  font-size: 28px;
}
.col {
  width: 50%;
  display: table-cell;
  vertical-align: top;
  padding: 20px 30px;
}
.project:nth-child(even){
  background-color: #EFEFEF;
}
.project:nth-child(even) .col{
  float: left;
  text-align: right;
}
.project:nth-child(even) .col h2, h3 {
  text-align: left;
}
.project:nth-child(odd) .col h2, h3 {
  text-align: left;
}
.project:nth-child(odd) .col{
  float: right;
}
.project .col:before{
  display:block;
  clear:both;
  content:"";
}
.col p {
  text-align: left;
}
i {
  font-size: 50px;
}

/*----------Contact-----------*/
.contact{
  background-image: url("/Users/kcoulter/Documents/portfolio-website/images/bluemountainsbw.jpg");
  background-size: cover;
  background-position: center;
  height: 550px;
  display: flex;
  margin-top: 10px;
}
.contact .content{
  margin: auto;
  text-align: center;
}
.content h1 {
  font-size: 55px;
  text-transform: uppercase;
}
.content p {
  font-size: 30px;
  padding: 5px 10px 45px 10px;
}
.gmail::before {
  content: "\f0e0"
}

/*----------Footer------------*/
footer {
  height: 5em;
  background-color: #0C0C0C;
  display: flex;
  flex-direction: column;
}
footer p {
  margin: auto;
  text-align: center;
}

/*-------Media Queries--------*/
@media (max-width: 700px) {
  .project .col{
    display:block;
    float:none !important;
    width:auto;
    text-align: center !important;
  }
  div .button {
    display: block;
  }
  nav {
    text-align: center;
  }
  nav ul {
    width: 100%;
  }
  .portfolio .project .col h2{
    text-align: center;
  }
}
